
.jumbotron{
    height: 700px;
    background-size: contain;
    background-image: url(extra.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 750px;
    border-radius: 0 !important;
    margin-bottom: 0px;
}
.display-4 {
    font-size:4vw;
    font-family:Helvetica;
}

.blockquote{
    padding-bottom: 1px;
}

.btn{
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    max-width: 100%;;
    height: auto;
}

.jcontainer{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 250px;
    opacity: 0.9;
    text-align: left;
}

.footer{
    background-color: #0c0c0c;
    height: 400px;
    padding: 20px 20px 20px 20px;

}

#avgdescription{
    font-size: 25px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size:2.0vw;
}

#explore{
    text-align: left;
    font-size:2.0vw;
    padding-top: 25px;

}

   
